<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Edit User</h1>
            <form method="post">
                <!-- Tournament Name -->
                        <fieldset class="form-group">
                            <label for="name">Tournament Name: *</label>
                            <input type="text" name="name" class="form-control" required value="<%= tournament.name %>" />
                        </fieldset>

                        <!-- Tournament Description -->
                        <fieldset class="form-group">
                            <label for="name">Tournament Description: *</label>
                            <textarea class="form-control" rows="3" value="<%= tournament.description %>"></textarea>
                        </fieldset>

                        <!-- Size Radio Button Choice -->
                        <div class="row">
                            <div class="col-md-offset-4">
                                <fieldset class="form-group">
                                    <label for="size">Tournament Size:</label>
                                    <label class="radio-inline">
                                <input type="radio" name="size" id="size8" value="8" onClick="" checked="checked"> 8
                            </label>
                                    <label class="radio-inline">
                                <input type="radio" name="size" id="size16" value="16" onClick="" checked="checked"> 16
                            </label>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-2">
                                <!-- Tournament Team 8 List -->
                                <div class="form-group">
                                    <input list="teams" name="team1" required placeholder="<%= tournament.team1 %>">
                                    <datalist id="teams">
                                        <% for (var i = 0; i < teams.length; i++) { %>
                                        <option value="<%= teams[i].teamname %>">
                                        <% } %>
                                    </datalist>

                                    <input list="teams" name="team2"  required placeholder="<%= tournament.team2 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team3"  required placeholder="<%= tournament.team3 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team4"  required placeholder="<%= tournament.team4 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team5"  required placeholder="<%= tournament.team5 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team6"  required placeholder="<%= tournament.team6 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team7"  required placeholder="<%= tournament.team7 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team8"  required placeholder="<%= tournament.team8 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <!-- Tournament Team 16 List -->
                                <div class="form-group">
                                    <input list="teams" name="team9"  required placeholder="<%= tournament.team9 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team10"  required placeholder="<%= tournament.team10 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team11"  required placeholder="<%= tournament.team11 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team12"  required placeholder="<%= tournament.team12 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team13"  required placeholder="<%= tournament.team13 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team14"  required placeholder="<%= tournament.team14 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team15"  required placeholder="<%= tournament.team15 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team16"  required placeholder="<%= tournament.team16 %>">
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="/tournaments/delete/<%= tournament._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                    <a href="/tournaments">
                        <input type="button" class="btn btn-warning" value="Cancel"/>
                    </a>
                </fieldset>
            </form>
        </div>
    </div>

</main>
<% include ../partials/bootstrap.ejs %>
<% include ../partials/footer.ejs %>