<% include ../partials/header.ejs %>
    <% include ../partials/navbar.ejs %>
        <main class="container">
                <div class="row">
                    <!-- Dynamic title (name) pulled from DB using tournament unique ID -->
                    <div class="col-md-offset-4 col-md-4">
                        <div id="tournament_title">
                            <h1><%= tournament.name %></h1>
                        </div>
                    </div>
                </div>
                <!-- Podium -->
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div id="podium">
                            <div id="podium_title">
                                <h2>WINNERS</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="silver_winner">
                                        <h3>Silver Team</h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="gold_winner">
                                        <h3><%= tournament.round4a %></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="bronze_winner">
                                        <h3>Bronze Team</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Top Row -->
                <div class="row">
                    <div class="col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team1 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team2 %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-8 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team5 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team6 %></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.round1a %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.round1b %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.round1e %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.round1f %></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="row">
                    <div class="col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team3 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team4 %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-8 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team7 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team8 %></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FINAL MATCH Row -->
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div id="finals_title">
                            <h2>FINAL MATCH</h2>
                        </div>
                        <div id="finals_bracket">
                            <div id="top">
                                <h2><%= tournament.round3a %></h2>
                            </div>
                            <div id="gold_middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.round3b %></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <!-- Semi Finals Row -->
                <div class="row">
                    <div class="col-md-offset-4 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.round2a %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.round2b %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.round2c %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.round2d %></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <!-- Third Place Row -->
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div id="finals_title">
                            <h2>FOR THE BRONZE</h2>
                        </div>
                        <div id="bronze_bracket">
                            <div id="top">
                                <h2><!-- <%= tournament.round3a %>--></h2>
                            </div>
                            <div id="bronze_middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><!--<%= tournament.round3b %>--></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WRAP IN IF SIZE = 16 -->
                <!-- Start of 16 Team Tournament Bracket and First Row -->
                <div class="row">
                    <div class="col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team9 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team10 %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-8 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team13 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team14 %></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.round1c %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.round1d %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.round1g %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.round1h %></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="row">
                    <div class="col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team11 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team12 %></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-8 col-md-2">
                        <div id="bracket">
                            <div id="top">
                                <h2><%= tournament.team15 %></h2>
                            </div>
                            <div id="middle">
                                <h4>VS</h4>
                            </div>
                            <div id="bottom">
                                <h2><%= tournament.team16 %></h2>
                            </div>
                        </div>
                    </div>
                </div>

            <br>

            <% if(userName) {%>
            <form method="post">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Round One</th>
                                <th>Round Two</th>
                                <th>Round Three</th>
                                <th>Third Place Round</th>
                                <th>Final Round</th>
                                <th>Winner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team1 %>" onclick="document.getElementById('round1a').value='<%= tournament.team1 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team2 %>" onclick="document.getElementById('round1a').value='<%= tournament.team2 %>';"/>
                                </td>                           
                                <td>
                                    <input type="text" id="round1a" name="round1a" class="btn create_button" value="<%= tournament.round1a %>" onclick="document.getElementById('round2a').value='<%= tournament.round1a %>';"/> 
                                    VS 
                                    <input type="text" id="round1b" name="round1b" class="btn create_button" value="<%= tournament.round1b %>" onclick="document.getElementById('round2a').value='<%= tournament.round1b %>';"/>
                                </td>
                                
                                <td>
                                    <input type="text" id="round2a" name="round2a" class="btn create_button" value="<%= tournament.round2a %>" onclick="document.getElementById('round3a').value='<%= tournament.round2a %>';"/> 
                                    VS 
                                    <input type="text" id="round2b" name="round2b" class="btn create_button" value="<%= tournament.round2b %>" onclick="document.getElementById('round3a').value='<%= tournament.round2b %>';"/>
                                </td>
                                <td>
                                   <!-- <input type="text" id="round3a" name="round3a" class="btn create_button" value="<%= tournament.round3a %>" onclick="document.getElementById('round4a').value='<%= tournament.round3a %>';"/> -->
                                    VS 
                                    <!-- <input type="text" id="round3b" name="round3b" class="btn create_button" value="<%= tournament.round3b %>" onclick="document.getElementById('round4a').value='<%= tournament.round3b %>';"/> -->
                                </td>
                                <td>
                                    <input type="text" id="round3a" name="round3a" class="btn create_button" value="<%= tournament.round3a %>" onclick="document.getElementById('round4a').value='<%= tournament.round3a %>';"/> 
                                    VS 
                                    <input type="text" id="round3b" name="round3b" class="btn create_button" value="<%= tournament.round3b %>" onclick="document.getElementById('round4a').value='<%= tournament.round3b %>';"/>
                                </td>
                                <td>
                                    <input type="text" id="round4a" name="round4a" class="btn create_button" value="<%= tournament.round4a %>"/> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team3 %>" onclick="document.getElementById('round1b').value='<%= tournament.team3 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team4 %>" onclick="document.getElementById('round1b').value='<%= tournament.team4 %>';"/>
                                </td> 
                                <td>
                                    <input type="text" id="round1c" name="round1c" class="btn create_button" value="<%= tournament.round1c %>" onclick="document.getElementById('round2b').value='<%= tournament.round1c %>';"/> 
                                    VS 
                                    <input type="text" id="round1d" name="round1d" class="btn create_button" value="<%= tournament.round1d %>" onclick="document.getElementById('round2b').value='<%= tournament.round1d %>';"/>
                                </td>
                                <td>
                                    <input type="text" id="round2c" name="round2c" class="btn create_button" value="<%= tournament.round2c %>" onclick="document.getElementById('round3b').value='<%= tournament.round2c %>';"/> 
                                    VS 
                                    <input type="text" id="round2d" name="round2d" class="btn create_button" value="<%= tournament.round2d %>" onclick="document.getElementById('round3b').value='<%= tournament.round2d %>';"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team5 %>" onclick="document.getElementById('round1c').value='<%= tournament.team5 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team6 %>" onclick="document.getElementById('round1c').value='<%= tournament.team6 %>';"/>
                                </td> 
                                <td>
                                    <input type="text" id="round1e" name="round1e" class="btn create_button" value="<%= tournament.round1e %>" onclick="document.getElementById('round2c').value='<%= tournament.round1e %>';"/> 
                                    VS 
                                    <input type="text" id="round1f" name="round1f" class="btn create_button" value="<%= tournament.round1f %>" onclick="document.getElementById('round2c').value='<%= tournament.round1f %>';"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team7 %>" onclick="document.getElementById('round1d').value='<%= tournament.team7 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team8 %>" onclick="document.getElementById('round1d').value='<%= tournament.team8 %>';"/>
                                </td> 
                                <td>
                                    <input type="text" id="round1g" name="round1g" class="btn create_button" value="<%= tournament.round1g %>" onclick="document.getElementById('round2d').value='<%= tournament.round1g %>';"/> 
                                    VS 
                                    <input type="text" id="round1h" name="round1h" class="btn create_button" value="<%= tournament.round1h %>" onclick="document.getElementById('round2d').value='<%= tournament.round1h %>';"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team9 %>" onclick="document.getElementById('round1e').value='<%= tournament.team9 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team10 %>" onclick="document.getElementById('round1e').value='<%= tournament.team10 %>';"/>
                                </td> 
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team11 %>" onclick="document.getElementById('round1f').value='<%= tournament.team11 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team12 %>" onclick="document.getElementById('round1f').value='<%= tournament.team12 %>';"/>
                                </td> 
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team13 %>" onclick="document.getElementById('round1g').value='<%= tournament.team13 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team14 %>" onclick="document.getElementById('round1g').value='<%= tournament.team14 %>';"/>
                                </td> 
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="btn create_button" value="<%= tournament.team15 %>" onclick="document.getElementById('round1h').value='<%= tournament.team15 %>';"/> 
                                    VS 
                                    <input type="text" class="btn create_button" value="<%= tournament.team16 %>" onclick="document.getElementById('round1h').value='<%= tournament.team16 %>';"/>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <input type="submit" class="btn create_button" value="Save"/>
            </form>
             <% } %>
        </main>

        <% include ../partials/bootstrap.ejs %>
            <% include ../partials/footer.ejs %>